import { getVisibleTodos, getTodos, getFilter } from './store';

const mapStateToProps = state => {
  return {
    todos: getVisibleTodos(state),
    filter: getFilter(state),
  };
}

class TodoList {
  render() {
    ...
  }
}

export default connect(
  mapStateToProps
)(TodoList);